:root {
    --tic-tac-toe-cell-size: 64px;
    --tic-tac-toe-table-border: 6px groove var(--main-yellow);
    --tic-tac-toe-cell-border: 2px solid var(--main-yellow);
    --tic-tac-toe-table-button-hover-color: var(--light-gray);
}

.tic-tac-toe-table {
    border: var(--tic-tac-toe-table-border);
    border-collapse: collapse;
}

.tic-tac-toe-table tr > * {
    border: var(--tic-tac-toe-cell-border);
}

.tic-tac-toe-table .table-button:hover {
    background-color: var(--tic-tac-toe-table-button-hover-color);
    cursor: pointer;
}
